<form action="/api/v1/upload/images" enctype="multipart/form-data" method="post">
    <div class="form-group">
      <input type="file" class="form-control-file" name="photo">
      <input type="text" class="form-control" placeholder="Title" name="title">
      <input type="text" class="form-control" placeholder="Description" name="description">
      <input type="text" class="form-control" placeholder="artist_id" name="artist_id">
      <input type="submit" value="Get me the stats!" class="btn btn-default">            
    </div>
</form>